@import '../../styles/variables.css';

.password-page {
  display: grid;
  place-items: center center;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg-color);
  background-image: url('https://i.redd.it/hih7e69nj8i51.jpg');
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.password-form {
  background-color: var(--card-bg-color);
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: var(--border-radius);
  box-shadow: 0 0.5rem 0.75rem rgba(0,0,0,0.33);
  padding: 1rem;
  margin: auto;
}

.password-input {
  appearance: unset;
  background-color: var(--input-bg);
  box-sizing: border-box;
  box-shadow: inset 0 0 1px black;
  border-radius: var(--border-radius);
  line-height: 2rem;
  padding: 0 1rem;
  display: block;
  margin: 0 0 1rem;
  border-radius: 0;
  border: none;
  display: block;
  width: 100%;
}

.password-submit {
  background: var(--button-bg);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  line-height: 1rem;
  color: white;
  display: block;
  margin: 0 0 0 auto;
  text-transform: uppercase;
  font-size: var(--font-smaller);
  box-shadow: inset 0 0 1px black;
  font-weight: 900;
}
.password-submit + .password-error {
  margin-top: 1rem;
}

.password-error {
  font-size: var(--font-smaller);
  line-height: var(--font-smaller);
  margin: .5rem 0;
  padding: 0 0 0 1rem;
  position: relative;
}
.password-error:last-child {
  margin-bottom: 0;
}
.password-error:before,
.password-error:after {
  content: "";
  border-radius: var(--border-radius);
  display: block;
  transform: rotate(45deg);
  background-color: var(--color-error-border);
  width: 3px;
  height: var(--font-smaller);
  left: .25rem;
  position: absolute;
  top: 0;
}
.password-error:after {
  transform: rotate(-45deg);
}